@import url("default.css")

h1 {
	font-size:12pt;
	color:#eeeeee;
	padding:0;
	margin-bottom:5px;
}

#topbanner {
	padding: .25em;
	font-size:14pt;
	border-bottom-style:solid;
	border-bottom-color:#999;
	text-align:center;
	margin-bottom:10px;
}

table {
	border: 1px solid #ccc;
	font-size: 85%;
}

th {
	font-size: 14px;
	color: #FFFFFF;
	background-color: #222222;
	background-position: center;
}

td.subtopic_heading a:link {color: #ccc;}

td {
	border: 1px solid #ccc;
}

.divide {
    background-color: #222222;
	height: 5px;
}

.topic_heading {
	font-size: 140%;
	font-weight: bold;
	color: #eee;
	background-color: #222222;
}

/* New Styles */
.subtopic_heading {
	font-size: 120%;
	font-weight: bold;
	color: #eee;
	background-color: #222;
}

.view_options {
	font-size: 100%;
	font-weight: bold;
	color: #eee;
	background-color: #222;
}

table.noborder {
	border: 0px;
	padding-bottom:5px;
}

table.noborder td {
	border: 0px;
}

hr {
	border: 0px;
 	color: #ccc;
	background-color:#222;
	height: 1px;
}


.post_options {
	font-size: 140%;
	font-weight: bold;
}
