@import url('default.css');

li.ev {
	display:inline;
	padding:5px;
	border:solid 1px #666;
}

li.calli {
	display:inline;
	padding:5px;
	border:solid 1px #666;
}

li.size3 {
	display:inline;
	padding:5px;
	border:solid 1px #666;
	font-size:8pt;
}

li.size2 {
	display:inline;
	padding:5px;
	border:solid 1px #666;
	font-size:11pt;
}

li.size1 {
	display:inline;
	padding:5px;
	border:solid 1px #666;
	font-size:14pt;
}

li.size0 {
	display:inline;
	padding:5px;
	border:solid 1px #666;
	font-size:20pt;
}

.prop {
	float:right;
	height:100px;
	width:1px;
	overflow:hidden;
}

#calendar {
	border:solid 1px #000;
	background-color:#333;
	visibility:hidden;
	position:absolute;
	left:50px;
	z-index:500;
}

.eventlink {
	font-size:10px;
	display:block;
}

a.iproeventlink {
	font-size:10px;
	display:block;
	color:#fff;
}

.event {
	border:solid 1px #000;
	background-color:#333;
	position:absolute;
	visibility:hidden;
	width:200px;
	padding:5px;
	top:0;
	left:0;
	overflow:hidden;
}
