@import url('default.css');

.submit_budget {
	border-style: none;
}
.submit_budget tr td {
	border-top: 1px solid #03244D;
	background: #eee;
	vertical-align:top;
}

.submit_budget tr td .submit_budget_button {
	vertical-align:bottom;
}

.submit_budget tr td h3 {
	margin-top: 0px;
	padding-top:0px;
}

.description {
	border:solid 1px #000;
	background-color:#fff;
	position:absolute;
	visibility:hidden;
	width:400px;
	padding:5px;
	top:0;
	left:0;
	overflow:hidden;
}

.budget, #budget {
	background: #ddd;
	border-style: none;
}

.budget tr td, #budget tr td {
	border: 1px solid #ccc;
}

.budget tr th, #budget tr th {
	border: 1px solid #ccc;
	background: #ccc;
}

.budget_result {
	background: #eee;
	padding:5px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom:10px;
}

.req_budget_total {
	background: #AFCCA8;
	padding:7px;
	font-weight: bold;
	margin: 10px 0px;
}

.app_budget_total {
	background: #F95F55;
	padding:7px;
	font-weight: bold;
	margin: 10px 0px;
}

.budget_col_totals {
	background: #ccc;
}

.budget_col_totals_actions {
	background: #F95F55;
	color: #333;
}

.actions {
	color: #333;
}

input.approve_btn {
	background: #339933;
	border: 1px solid #006600;
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 85%;
	font-weight: bold;
	color: #f8f8f8;
}

input.decline_btn {
	background: #cc0000;
	border: 1px solid #660000;
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 85%;
	font-weight: bold;
	color: #f8f8f8;
}

input.revise_btn {
	background: #0066cc;
	border: 1px solid #003399;
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 85%;
	font-weight: bold;
	color: #f8f8f8;
}

#info_msg {
	background: #ffffcc; 
	border: 1px solid #fcd900;
	padding: 7px;
}

.label_desc {
	margin-top:-10px;
	margin-bottom: 15px;
	color: #666;
	font-size: 80%;
	width: 300px;
}

.edit_desc {
	background: #ffffcc;
	border: 1px solid #ccc;
	padding: 3px;
}

.b_date {
	color: #666;
	font-size: 80%;
	margin-top:5px;
}

.notices {
	margin: 20px 0px 0px 20px;
	width: 350px;
	float: right;
	padding-left: 15px;
	border-left: 2px dotted #ccc;
}	

.notice_msg {
	background: #ffffcc; 
	padding: 0px 10px 10px 20px;
	border: 2px solid #e6db55;
}

.notice {
	background: #fcd900; 
	padding: 5px 10px;
	border: 2px solid #fcd900;
	width: 330px;
	float: right;
}

.highlight {
	background: #ffffcc;
}
