table.todoList {
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	background: #FFFFFF;
}

table.todoList tr.todoHeaders {
	color: #000;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	background: #EEE;
}

table.todoList td.todoTop {
	border-bottom: 1px solid #00cc00;
}

a.todoSort {
	color: #000;
}

table.todoList td.taskNum {
	width: 60px;
}

table.todoList td.taskDesc {
	text-align: right;
	padding-right: 5px;
	width: 400px;
}

table.todoList td.taskDate {
	text-align: center;
	width: 80px;
}

table.todoList td.taskDone {
	text-align: center;
	width: 50px;
}

table.todoList td.taskDel {
	text-align: center;
	width: 70px;
}

table.todoList tr.taskColor {
	background: #EEE;
}

div#task_table_footer {
	font-size: 14px;
}

div#task_table_footer span.text{
	position: relative;
	top: -3px;
}

div.taskEdit {
    position: relative;
    margin-left: 5px;
    padding: 5px;
    background: #EEE;
    border: 1px dotted #444444;
    width: 600px;
}

div.taskEdit div.description {
    background: #ddd;
    border-bottom: 2px solid #999;
    border-top: 2px solid #BBB;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

span.taskNumDisplay{
    position: relative;
    float: left;
    margin-top: 5px;
    left: 8px;
    top: -5px;
    color: green;
    font-size: 24px;
    z-index: 5;
}

#editButton {
    border: 0px;
    width: 30px;
    background: white;
    text-decoration: underline;
    color: #00cc00;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -3px;
}

div.newItem{
    margin-bottom: 5px;
}
