@import url('default.css');

.box {
  width:50%;
}

form {
width : 100%;
}

.box form input, textarea{
max-width: 320px;
}

#announcement-list {
 float: right;
 width: 40%;
}
		
#calendarmenu {
	border:solid 1px #000;
	background-color:#fff;
	visibility:hidden;
	position:absolute;
	left:50px;
}

#edit1 {
	display:none;
}

#edit2 {
	display:none;
}

h2 {
	font-size:11pt;
	color:#CC0000;
	margin-bottom:5px;
}

