@import url('default.css');

li.ev {
	display:inline;
	padding:5px;
	border:solid 1px #000;
}

li.calli {
	display:inline;
	padding:5px;
	border:solid 1px #000;
}

li.size3 {
	display:inline;
	padding:5px;
	border:solid 1px #000;
	font-size:8pt;
}

li.size2 {
	display:inline;
	padding:5px;
	border:solid 1px #000;
	font-size:11pt;
}

li.size1 {
	display:inline;
	padding:5px;
	border:solid 1px #000;
	font-size:14pt;
}

li.size0 {
	display:inline;
	padding:5px;
	border:solid 1px #000;
	font-size:20pt;
}

.prop {
	float:right;
	height:100px;
	width:1px;
	overflow:hidden;
}

.eventlink {
	font-size:10px;
	display:block;
}

a.iproeventlink, .tasklink {
	font-size:10px;
	display:block;
	color:#000;
}

.event {
	border:solid 1px #000;
	background-color:#fff;
	position:absolute;
	visibility:hidden;
	width:200px;
	padding:5px;
	top:0;
	left:0;
	overflow:hidden;
}

#calendar {
	border:solid 1px #000;
	background-color:#fff;
	visibility:hidden;
	position:absolute;
	left:50px;
	z-index:500;
}
	
#taskCalendar {
	border:solid 1px #000;
	background-color:#fff;
	visibility:hidden;
	position:absolute;
	left:50px;
	z-index:500;
}

table.list {
	width:500px;
	text-align:left;
}

table {
border-collapse: collapse;
}

table td {
   border: 1px solid #CCC;
{

thead {
	background-color:#DDD;
}

tfoot {
	background-color:#DDD;
}

.ds_box {
	background-color: #FFF;
	border: 1px solid #000;
	position: absolute;
	z-index: 32767;
}

.ds_tbl {
	background-color: #FFF;
	width: 85%
}

.ds_head {
	background-color: #C00;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}

.ds_subhead {
	background-color: #CCC;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	width: 32px;
}

.ds_cell {
	background-color: #EEE;
	color: #000;
	font-size: 13px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	cursor: pointer;
}

.ds_cell:hover {
	background-color: #F3F3F3;
} /* This hover code won't work for IE */


