@import url('default.css');

h1 {
	font-size:12pt;
	color:#CC0000;
	padding:0;
	margin-bottom:5px;
}

#topbanner {
	padding: .25em;
	font-size:14pt;
	border-bottom-style:solid;
	border-bottom-color:#CC0000;
	text-align:center;
	margin-bottom:10px;
}

table {
	border: 1px solid #ccc;
	font-size: 85%;
}

th {
	font-size: 14px;
	color: #FFFFFF;
	background-color: #cc0000;
	background-position: center;
}

td.subtopic_heading a:link {color: #000;}

td {
	border: 1px solid #ccc;
}

.divide {
    background-color: #EEEEEE;
	height: 5px;
}

.topic_heading {
	font-size: 140%;
	font-weight: bold;
	color: #333;
	background-color: #CCCCCC;
}

/* New Styles */
.subtopic_heading {
	font-size: 120%;
	font-weight: bold;
	color: #000000;
	background-color: #FFF;
}

.view_options {
	font-size: 100%;
	font-weight: bold;
	color: #333;
	background-color: #CCC;
}

table.noborder {
	border: 0px;
	padding-bottom:5px;
}

table.noborder td {
	border: 0px;
}

hr {
	border: 0px;
 	color: #ccc;
	background-color:#ccc;
	height: 1px;
}


.post_options {
	font-size: 140%;
	font-weight: bold;
}
