@import url('default.css');

#pictures {
	margin:10px;
}

#scratchpad {
       width: 99%;
       padding-top: 10px;
}

#scratchpad p {
      padding-bottom: 10px;
      color: #CC0000;
}

#scratchpad input {
      border: 1px #989898 dashed;
      background-color: #ffd3d3;
      margin-right: 10px;
      color: #2C2C2C;
}

#scratchpad input:hover {
      border: 1px #000 dashed;
      background-color: #FFF;
}

#scratchpad textarea {
      width: 100%;
      font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
      font-size: 12px;
}
#announcements {
	margin:10px;
        margin-left: 0px;
        width: 100%;
}

.dateHeading {
	background:#EEE;
        height: 2em;
        text-align: center;
        vertical-align: bottom;
}

.prop {
	float:right;
	height:100px;
	width:1px;
	overflow:hidden;
}


#calendar {
      color: #000;
      font-weight: bolder;
      padding-left:1px;
      margin-bottom: 20px;     
}

#calendar table { 
       width: 100%;
       
}

.calbord {
	border: 1px solid #CCC;
	width: 14%;
}
	
#calendarmenu {
	border:solid 1px #000;
	background-color:#fff;
	visibility:hidden;
	position:absolute;
	left:50px;
}

.event {
	border:solid 1px #000;
	background-color:#fff;
	position:absolute;
	visibility:hidden;
	width:200px;
	padding:5px;
	top:0;
	left:0;
	overflow:hidden;
}

.timeago
{
	font-size: smaller;
}

#scratchpad {
  height: 260px;
  overflow: hidden;
}

#scratchpadtext{
  margin-bottom: 10px;
}

#scratchpadtext p {
 color: #333; 
 margin: 0px;
}
