@import url('default.css');

#recent {
	margin-top:10px;
	float:right;
	width:50%;
}

#pictures {
	margin:10px;
}

#announcements {
	margin:10px;
}

.dateHeading {
	background:#EEE;
        height: 2em;
        text-align: center;
        vertical-align: bottom;
}

.prop {
	float:right;
	height:100px;
	width:1px;
	overflow:hidden;
}


#calendar {
      color: #000;
      font-weight: bolder;
      padding-left:1px;
      margin-bottom: 20px;     
}

#calendar table { 
       width: 100%;
       
}

.calbord {
	border: 1px solid #CCC;
	width: 14%;
}
	
#calendarmenu {
	border:solid 1px #000;
	background-color:#fff;
	visibility:hidden;
	position:absolute;
	left:50px;
}

.event {
	border:solid 1px #000;
	background-color:#fff;
	position:absolute;
	visibility:hidden;
	width:200px;
	padding:5px;
	top:0;
	left:0;
	overflow:hidden;
}

.timeago
{
	font-size: smaller;
}

