@import url('default.css');
#container {
height:100%;
}

#top {
margin-bottom:10px;
}

#top h1 {
color:#000;
font-size:20px;
font-weight:400;
}

#loginform {
border:1px solid #FF6969;
padding:5px;
}

#loginform form {
background-color:#FFE9E9;
padding:5px;
}

#loginform input {
width:155px;
border:1px solid #999;
margin-bottom:5px;
}

#loginform a {
text-decoration:none;
}

#loginform button {
border:2px solid #FF8383;
background:#C30000;
color:#FFF;
float:right;
}

#left {
float:left;
text-align:right;
width:60%;
margin-top:20px;
border:1px solid #999;
padding:1em;
}

.right {
margin-left:64%;
margin-top:25px;
width:35%;
padding:.5em;
}

#bottom {
margin-top:10px;
}

#bottom h1 {
color:#000;
border-bottom-style:solid;
border-bottom-color:#C00;
font-size:20px;
font-weight:400;
margin-left:2em;
}

.announcement-heading {
color:#c00;
font-weight:700;
}

#calendarmenu {
border:solid 1px #000;
background-color:#fff;
visibility:hidden;
position:absolute;
left:50px;
}

div#cycleFlag {
position:absolute;
visibility:hidden;
overflow:hidden;
top:0;
left:0;
width:0;
height:0;
}

#randphotobox {
text-align:center;
width:100%;
}

#randphoto {
max-width:100%;
}

#randtitle {
font-size:x-large;
font-weight:700;
color:#c00;
}

#randdesc {
font-size:large;
color:#c00;
}
