@import url('default.css');
@import url('popcal.css');

table#tasks
{
	border-collapse: collapse;
	border: thin solid black;
}

table#tasks td, table#tasks th
{
	border: thin solid black;
	padding-left: 5px;
	padding-right: 5px;
}

table#tasks ul
{
	margin-left: 0px;
	padding-left: 1em;
}

tr.normal0 td
{
	background-color: white;
	color: black;
}

tr.normal1 td
{
	background-color: #dddddd;
	color: black;
}

tr.overdue0 td
{
	background-color: #ffcccc;
	color: black;
}

tr.overdue1 td
{
	background-color: #ffdddd;
	color: black;
}

td.assignments strong
{
	font-size: x-small;
	font-weight: bold;
}

.role
{
	font-size: smaller;
	font-style: italic;
}

a.toggle
{
	font-size: smaller;
	font-weight: normal;
	vertical-align: super;
}

.toggleable
{
	display: none;
}

li#overdue
{
	color: red;
	background-color: white;
}

.sgpersonlist
{
	display: none;
}

legend#taskedit
{
	font-size: 10pt;
}

#tasksstuff
{
	float: left;
}

#indsummaries
{
	float: left;
	border: thin solid black;
	padding: 3px;
	margin-left: 5px;
}

div#caldiv
{

}
