@import url('default.css');
@import url('popcal.css');


#tasksstuff
{
	float: left;
        width: 75%;
        min-width: 410px;
}

#tasksstuff form {
       padding: 15px;
       padding-top: 20px;
       padding-left: 0;
}

table#tasks
{
	border: none;
        width: 100%;
}

table#tasks td, table#tasks th
{
	padding-left: 5px;
	padding-right: 5px;
        min-width: 75px;
        max-width: 150px;
        height: 30px;
}

table#tasks th {
       border: none;
}

table #tasks ul
{
	margin-left: 0px;
	padding-left: 1em;
}

table.taskhours td
{
	text-align: center;
}

tr.normal0 td
{
	background-color: white;
	color: black;
}

tr.normal1 td
{
	background-color: #dddddd;
	color: black;
}

tr.overdue0 td
{
	background-color: #FFD1D1;
	color: black;
}

tr.overdue1 td
{
	background-color: #FFDFDF;
	color: black;
}

td.assignments strong
{
	font-size: x-small;
	font-weight: bold;
}

.role
{
	font-size: smaller;
	font-style: italic;
}

a.toggle
{
	font-size: smaller;
	font-weight: normal;
	vertical-align: super;
}

.toggleable
{
    display: none;
}

li#overdue
{
    color: red;
    background-color: white;
}

.sgpersonlist
{
    display: none;
}

legend#taskedit
{
    font-size: 10pt;
}


#indsummaries
{   padding-top: 20px;
    float: right;
    margin-left: 30px;
    width: 20%;
    min-width: 80px;
}

#indsummaries ul {
    margin-bottom: 10px;
}

#indsummaries ul li {
    padding: 2px;
   
}

#addtask td:first-child {
    background-color: #F0F0F0;
}

#addtask label {
   float: left;
   font-weight: bold;
}


